---
---

<div role="cell" class="border-skin-card rounded-md shadow-lg">
  <div class="bg-white relative h-full rounded-md p-5">
    <h1 class="pb-4 text-2xl font-semibold">Account Overview</h1>
    <div class="my-5">
      <div
        class="dark:border-gray-700 flex w-full cursor-pointer items-center space-x-3 pb-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12.5"
          height="16"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"></path>
        </svg>
        <h4 class="text-md text-gray-900 dark:text-gray-100">
          First time, what do I do next?
        </h4>
      </div>
      <div
        class="dark:border-gray-700 flex w-full cursor-pointer items-center space-x-3 pb-4"
      >
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12.5"
            height="16"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"></path>
          </svg>
        </div>
        <h4 class="text-md text-gray-900 dark:text-gray-100">
          Changing you profile picture and other information
        </h4>
      </div>
      <div
        class="dark:border-gray-700 flex w-full cursor-pointer items-center pb-4"
      >
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12.5"
            height="16"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"></path>
          </svg>
        </div>
        <h4 class="text-md text-gray-900 dark:text-gray-100 pl-4">
          I didnt get a confirmation email, what should I do next
        </h4>
      </div>
      <div
        class="dark:border-gray-700 flex w-full cursor-pointer items-center pb-4"
      >
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12.5"
            height="16"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"></path>
          </svg>
        </div>
        <h4 class="text-md text-gray-900 dark:text-gray-100 pl-4">
          What is the refund policy if I have to cancel during the month
        </h4>
      </div>
    </div>
  </div>
</div>
